[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
django-crispy-forms = "==1.11.1"
crispy-bootstrap5 = "*"
sendgrid-django = "*"

[dev-packages]

[requires]
python_version = "3.9"
